//网站标题栏
.site-meta {
  background: rgba(60,138,202, 1); 
}

//背景图片
body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

//内容板块（包括：文章、页、首页文章） 
.post, .page, .post-block {
  background: rgba(255,255,255,0.9);
}

//辅助板块（包括：菜单板块、站点简介板块以及菜单选中效果等）
.header-inner, .sidebar-inner, .sub-menu, .comments{
  background: rgba(255,255,255,0.6);
}

.sidebar {
  background: rgba(255,255,255,0);
}

.sub-menu .menu-item-active a {
  background: transparent;
  color: #fc6423;
  border-bottom-color: #fc6423;
}

.menu-item-active a {
  background: rgba(255,255,255,0.6);
  border-bottom-color: #fff;
}



//footer 字体颜色
.footer {
  font-size: 14px;
  color: $black-light;
}